extends layout
block head
  link(rel='stylesheet', href='/stylesheets/index.css')
block content
  div(id='neuro-slide' class='jumbotron jumbotron-fluid jumbotron-default mb-0 text-light')
    div(class='text-center p-md-5 slide-bg d-flex-inline flex-column align-items-stretch')
      h4(class='h4')
        span(class='jumbotron-text') Нейронные сети
      p(class='lead')
        span(class='jumbotron-text') Это стильно, модно молодежно!
      hr
      p(class='lead')
        a(class='btn btn-default btn-lg' href='/neuro' role='button') Попробовать
  div(id='pickman-slide' class='jumbotron jumbotron-fluid jumbotron-default mb-0 text-light')
    div(class='text-center p-md-5 slide-bg d-flex-inline flex-column align-items-stretch')
      h4(class='h4')
        span(class='jumbotron-text') Искусственный Интеллект
      p(class='lead')
        span(class='jumbotron-text') Это постоянная доступность и максимальная честность!
      hr
      p(class='lead')
        a(class='btn btn-default btn-lg' href='/neuro' role='button') Попробовать
  div(id='ai-slide' class='jumbotron jumbotron-fluid jumbotron-default mb-0 text-light')
    div(class='text-center p-md-5 slide-bg d-flex-inline flex-column align-items-stretch')
      h4(class='h4')
        span(class='jumbotron-text') Автоматизация
      p(class='lead')
        span(class='jumbotron-text') Это исключение человека как посредника!
      hr
      p(class='lead')
        a(class='btn btn-default btn-lg' href='/neuro' role='button') Попробовать